OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.2

ORACLE_USER=SERVICIOS
ORACLE_PASSWORD=SERVICIOS
ORACLE_DSN=172.18.28.233:1521/PDBQA

WHATSAPP_SESSION=./data/session

DOCUMENTO_COBRO_API_URL=http://localhost:5562
DOCUMENTO_COBRO_USER=sias
DOCUMENTO_COBRO_PASSWORD=Password.Secreto
